<body data-sidebar="dark">

  <!-- Begin page -->
  <div id="layout-wrapper">

      <header id="page-topbar">
          <div class="navbar-header">
              <div class="d-flex">
                  <!-- LOGO -->
                  <div class="navbar-brand-box">
                      <a href="/" class="logo logo-dark">
                          <span class="logo-sm">
                              <img src="/assets/images/logo.svg" alt="" height="22">
                          </span>
                          <span class="logo-lg">
                              <img src="/assets/images/logo-dark.png" alt="" height="17">
                          </span>
                      </a>

                      <a href="/" class="logo logo-light">
                          <span class="logo-sm">
                              <img src="/assets/images/logo-light.svg" alt="" height="22">
                          </span>
                          <span class="logo-lg">
                              <img src="/assets/images/logo-light.png" alt="" height="50">
                          </span>
                      </a>
                  </div>

                  <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect" id="vertical-menu-btn">
                      <i class="fa fa-fw fa-bars"></i>
                  </button>

                  <!-- App Search-->


              </div>

              <div class="d-flex">

                  <div class="dropdown d-inline-block d-lg-none ml-2">
                      <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="mdi mdi-magnify"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
                          aria-labelledby="page-header-search-dropdown">
              
                          <form class="p-3">
                              <div class="form-group m-0">
                                  <div class="input-group">
                                      <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's ">username
                                      <div class="input-group-append">
                                          <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                                      </div>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>


                  <div class="dropdown d-inline-block">
                      <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img class="rounded-circle header-profile-user" src="/assets/images/users/avatar-1.jpg"
                              alt="Header Avatar">
                              <% if(user){ %>
                                    <span class="d-none d-xl-inline-block ml-1"><%= user.username %></span>
                                <% } %>
                          <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                          <!-- item-->
                          <!-- <a class="dropdown-item" href="#"><i class="bx bx-user font-size-16 align-middle mr-1"></i> Profile</a>
                          <a class="dropdown-item" href="#"><i class="bx bx-wallet font-size-16 align-middle mr-1"></i> My Wallet</a>
                          <a class="dropdown-item d-block" href="#"><span class="badge badge-success float-right">11</span><i class="bx bx-wrench font-size-16 align-middle mr-1"></i> Settings</a>-->
                          <!-- <a class="dropdown-item" href="#"><i class="bx bx-lock-open font-size-16 align-middle mr-1"></i> Change Password</a>  -->
                          <!-- <div class="dropdown-divider"></div> -->
                          <a class="dropdown-item text-danger" href="/logout"><i class="bx bx-power-off font-size-16 align-middle mr-1 text-danger"></i> Logout</a>
                      </div>
                  </div>

                  <div class="dropdown d-inline-block">
                      <!-- <button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect">
                          <i class="bx bx-cog bx-spin"></i>
                      </button> -->
                  </div>
      
              </div>
          </div>
      </header>
<!-- ========== Left Sidebar Start ========== -->
 <div class="vertical-menu">

  <div data-simplebar class="h-100">

      <!--- Sidemenu -->
      <div id="sidebar-menu">
          <!-- Left Menu Start -->
          <ul class="metismenu list-unstyled" id="side-menu">

            <!-- <li class="mm-active">
                <a href="javascript: void(0);" class="waves-effect mm-active" aria-expanded="true">
                    <i class="bx bx-home-circle"></i>
                    <span class="badge badge-pill badge-info float-right">03</span>
                    <span>Dashboards</span>
                </a>
                <ul class="sub-menu mm-collapse mm-show" aria-expanded="false" style="">
                    <li class="mm-active"><a href="index.html" class="active">Default</a></li>
                    <li><a href="dashboard-saas.html">Saas</a></li>
                    <li><a href="dashboard-crypto.html">Crypto</a></li>
                </ul>
            </li> -->

            <li>
                <a href="/" class=" waves-effect">
                    <i class="bx bx-home-circle"></i>
                    <span>Dashboard</span>
                </a>
            </li>
             
              <li class="menu-title">Apps</li>

              <li>
                  <a href="/store" class=" waves-effect">
                    <i class="bx bx-store"></i>
                      <span>Store</span>
                  </a>
              </li>

              <li>
                  <a href="/view-map" class=" waves-effect">
                    <i class="fas fa-map-marked-alt"></i>
                      <span class="badge badge-pill badge-success float-right">New</span>
                      <span>View Map</span>
                  </a>
              </li>


              <li>
                  <a href="javascript: void(0);" class="has-arrow waves-effect">
                    <i class="fas fa-dharmachakra"></i>
                      <span>Driver</span>
                  </a>
                  <ul class="sub-menu" aria-expanded="false">
                      <li><a href="/Driver">Register Driver</a></li>
                      
                  </ul>
              </li>

              <li>
                  <a href="javascript: void(0);" class="has-arrow waves-effect">
                    <i class="fas fa-car"></i>
                      <span>Cars</span>
                  </a>
                  <ul class="sub-menu" aria-expanded="false">
                      <li><a href="/car">Register Car</a></li>
                      <li><a href="/car/assing">Assing Driver</a></li>
                      
                  </ul>
              </li>

              <li>
                  <a href="javascript: void(0);" class="has-arrow waves-effect">
                    <i class="fas fa-thumbtack"></i>
                      <span>Task</span>
                  </a>
                  <ul class="sub-menu" aria-expanded="false">
                      <li><a href="/tasks">Create Task</a></li>

                  </ul>
              </li>

              <li>
                <a href="javascript: void(0);" class="has-arrow waves-effect">
                    <i class="far fa-clipboard"></i>
                    <span>Reports</span>
                </a>
                <ul class="sub-menu" aria-expanded="false">
                    <li><a href="/repots/store">Store Report</a></li>
                    <li><a href="/repots/driver">Driver Report</a></li>
                    <li><a href="/repots/car">Car Report</a></li>
                    <li><a href="/repots/assign">Assigned Driver Report</a></li>
                    <li><a href="/repots/tasks">Task Report</a></li>
                </ul>

            
            </li>
              
              
              <li>
                <a href="/faqs" class=" waves-effect">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                    <span>FAQs</span>
                </a>
            </li>

         

          </ul>
      </div>
      <!-- Sidebar -->
  </div>
</div>
<!-- Left Sidebar End -->