<body data-sidebar="dark">

  <!-- Begin page -->
  <div id="layout-wrapper">

      <header id="page-topbar">
          <div class="navbar-header">
              <div class="d-flex">
                  <!-- LOGO -->
                  <div class="navbar-brand-box">
                      <a href="/" class="logo logo-dark">
                          <span class="logo-sm">
                              <img src="/assets/images/logo.svg" alt="" height="22">
                          </span>
                          <span class="logo-lg">
                              <img src="/assets/images/logo-dark.png" alt="" height="17">
                          </span>
                      </a>

                      <a href="/" class="logo logo-light">
                          <span class="logo-sm">
                              <img src="/assets/images/logo-light.svg" alt="" height="22">
                          </span>
                          <span class="logo-lg">
                              <img src="/assets/images/logo-light.png" alt="" height="50">
                          </span>
                      </a>
                  </div>

                  <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect" id="vertical-menu-btn">
                      <i class="fa fa-fw fa-bars"></i>
                  </button>

                  <!-- App Search-->


              </div>

              <div class="d-flex">

                  


                  <div class="dropdown d-inline-block">
                      <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img class="rounded-circle header-profile-user" src="/assets/images/users/avatar-1.jpg"
                              alt="Header Avatar">
                              <% if(user){ %>
                                    <span class="d-none d-xl-inline-block ml-1"><%= user.username %></span>
                                <% } %>
                          <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
 
                          <a class="dropdown-item text-danger" href="/logout"><i class="bx bx-power-off font-size-16 align-middle mr-1 text-danger"></i> Logout</a>
                      </div>
                  </div>

                  <div class="dropdown d-inline-block">

                  </div>
      
              </div>
          </div>
      </header>
<!-- ========== Left Sidebar Start ========== -->
 <div class="vertical-menu">

  <div data-simplebar class="h-100">

      <!--- Sidemenu -->
      <div id="sidebar-menu">
          <!-- Left Menu Start -->
          <ul class="metismenu list-unstyled" id="side-menu">


            <li>
                <a href="/" class=" waves-effect">
                    <i class="bx bx-home-circle"></i>
                    <span>Dashboard</span>
                </a>
            </li>
             
              <li class="menu-title">Apps</li>
              <% if(Role ){ %>
                <% if(Role == 'A'){ %>
              <li>
                  <a href="/store" class=" waves-effect">
                    <i class="bx bx-store"></i>
                      <span>Store</span>
                  </a>
              </li>
              <% } %>
              <% } %>

              <li>
                  <a href="/view-map" class=" waves-effect">
                    <i class="fas fa-map-marked-alt"></i>
                      <span class="badge badge-pill badge-success float-right">New</span>
                      <span>View Map</span>
                  </a>
              </li>

              <% if(Role ){ %>
                <% if(Role == 'A'){ %>
              <li>
                  <a href="javascript: void(0);" class="has-arrow waves-effect">
                    <i class="fas fa-dharmachakra"></i>
                      <span>Driver</span>
                  </a>
                  <ul class="sub-menu" aria-expanded="false">
                      <li><a href="/Driver">Register Driver</a></li>
                      
                  </ul>
              </li>

              <li>
                  <a href="javascript: void(0);" class="has-arrow waves-effect">
                    <i class="fas fa-car"></i>
                      <span>Cars</span>
                  </a>
                  <ul class="sub-menu" aria-expanded="false">
                      <li><a href="/car">Register Car</a></li>
                      <li><a href="/car/assing">Assing Driver</a></li>
                      
                  </ul>
              </li>

              <li>
                  <a href="javascript: void(0);" class="has-arrow waves-effect">
                    <i class="fas fa-thumbtack"></i>
                      <span>Task</span>
                  </a>
                  <ul class="sub-menu" aria-expanded="false">
                      <li><a href="/tasks">Create Task</a></li>

                  </ul>
              </li>
              <% } %>
              <% } %>

              <li>
                <a href="javascript: void(0);" class="has-arrow waves-effect">
                    <i class="far fa-clipboard"></i>
                    <span>Reports</span>
                </a>
                <ul class="sub-menu" aria-expanded="false">
                    <li><a href="/repots/store">Store Report</a></li>
                    <li><a href="/repots/driver">Driver Report</a></li>
                    <li><a href="/repots/car">Car Report</a></li>
                    <li><a href="/repots/assign">Assigned Driver Report</a></li>
                    <li><a href="/repots/tasks">Task Report</a></li>
                </ul>

            
            </li>
            <% if(Role ){ %>
            <% if(Role == 'A'){ %>
                <li>
                    <a href="/userRegistration" class=" waves-effect">
                        <i class="fas fa-user-plus" aria-hidden="true"></i>
                        <span>User Registration</span>
                    </a>
                </li>
                <% } %>
                <% } %>
              
              <li>
                <a href="/faqs" class=" waves-effect">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                    <span>FAQs</span>
                </a>
            </li>
            
          </ul>
      </div>
      <!-- Sidebar -->
  </div>
</div>
<!-- Left Sidebar End -->